
@{
    ViewBag.Title = "Xacnhan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúc quý khách một năm mới vui vẻ. </h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "DTH_Coffee")
</p>

