
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center">VỀ CHÚNG TÔI </h2>
<p>Một lời hẹn rất riêng của người Việt. Một lời ngỏ mộc mạc để mình ngồi lại bên nhau và sẻ chia câu chuyện của riêng mình.</p>
<p>Tại <b>DTH_Coffee</b>, chúng tôi luôn trân trọng những câu chuyện và đề cao giá trị Kết nối con người. Chúng tôi mong muốn <b>DTH_Coffee</b> sẽ trở thành “Địa Chỉ Hoàn Hảo", nơi mọi người xích lại gần nhau và tìm thấy niềm vui, sự sẻ chia thân tình bên những tách cà phê đượm hương, chất lượng.</p>
<img  src="~/image/bg_123.jpg" width="100%"/>

